*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.main-block{
    padding: 20px 0 0 0;
    color: #2D2D2D;
}
.limit {
    margin: 0 auto;
    max-width: 1400px;
}
.card-item{
    border: 1px solid rgba(45, 45, 45, 0.1);
    border-radius: 13px;
}
.service-card-item{
    background: #FFFFFF;
    max-width: calc((100% - 60px)/4);
    margin:0 20px 0 0;
}
.service-card-item:last-child{
    margin: 0;
}
.card-item-img{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px 13px 0 0;
}
.service-card-img{
    height: 15rem;
}
.card-item-img1{
    background-image: url(img/service-card-img.jpg);
}
.card-item-img2{
    background-image: url(img/service-card-img2.jpg);
}
.card-item-img3{
    background-image: url(img/service-card-img3.jpg);
}
.card-item-img4{
    background-image: url(img/service-card-img4.jpg);
}
.ft-700{
    font-weight: 700;
}
.card_title{
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.service-card-title{
    margin: 0 0 20px 0;
    min-height: 2.75rem;
}
.blue-txt{
    color: #0967C1;
}
.service-card-cont{
    padding: 20px 15px 15px 15px;
}
.card-list{
    padding-left:15px;
    margin: 0 0 100px 0;
    min-height: 7.56rem;
}
.card-list li{
    list-style-image: url(img/list-mark.png);
    margin: 0 0 9px 0;
}
.ft-400{
    font-weight: 400;
}
.card-txt{
    font-size: 1rem;
    line-height: 130%;
}
.service-card-pr{
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.ft-600{
    font-weight: 600;
}
.card-button{
    border: none;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 19px 0px;
    width: 100%;
}
.blue-button{
    background: #0967C1;
    color: #FFFFFF;
}
.grey-card-txt{
    color: #696969;
}
/* block2  */
.work-examples{
    margin: 40px 0;
}
.work-example-card{
    margin-right: 45px;
    margin-bottom: 45px;
    max-width: calc((100% - 45px)/2);
}
.work-example-card:nth-child(2n){
    margin-right: 0;
}
.work-card-cont{
    padding: 30px 35px 35px 35px;
}
.work-card-title{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.work-info-cont{
    text-transform: uppercase;
}
.d-flex{
    display: flex;
}
.work-info-item{
    flex-direction: column;
}
.work-info-item:nth-child(1),
.work-info-item:nth-child(2){
    border-right:1px solid rgba(45, 45, 45, 0.1);
    padding-right: 40px;
}
.work-info-item:nth-child(2),
.work-info-item:nth-child(3){
    padding-left: 40px;
}
.ft-400{
    font-weight: 400;
}
.work-examples-img-slider img{
    border-radius: 13px 13px 0 0;
}
.work-examples-img-slider .slick-dots {
    bottom: 15px;
}
.work-examples-img-slider .slick-dots li button {
    color: #FFFFFF;
}
.work-examples-img-slider .slick-dots li.slick-active button{
    opacity: 1;
}
.work-examples-img-slider .slick-dots li button:before{
    font-size: 12px;
    color: #FFFFFF;
}
.work-examples-img-slider .slick-dots li.slick-active button:before {
    color: #FFFFFF;
}
.work-examples-img-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.work-example-txt{
    margin: 0 0 80px 0;
}
.work-cost-item{
    font-size: 2rem;
    line-height: 2.43rem;
}
.work-terms-txt{
    font-size: 1.5rem;
    line-height: 1.81rem;
}
.work-examples-img-slider .prev-btn{
    display: block;
    top: 50%;
    position: absolute;
    left: 10px;
    z-index: 1;
}
.work-examples-img-slider .next-btn{
    display: block;
    top: 50%;
    right: 10px;
    position: absolute;
}
.prev-btn,
.next-btn{
    cursor: pointer;
}
/* block3  */
.installment-banners-block{
    margin:0 0 80px 0;
}
.installment-banner{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
}
.installment-plan-banner{
    background-image: url(img/installment-plan.jpg);
    min-height: 645px;
}
.installment-blue-banner{
    background:#0967C1;;
}
.installment-banner-cont{
    padding: 60px 210px 350px 260px; 
}
.white{
    color: #FFFFFF;
}
.installment-banner-title{
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 2.125rem;
}
.installment-banner-text{
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 15px 0 0 0;
}
.installment-banner-text p{
    margin:0 0 40px 0 ;
}
.installment-banner-text li{
    margin: 0 0 15px 0;
}
.installment-blue-banner-cont{
    padding: 60px 305px 60px 60px; 
}
.installment-blue-banner .installment-banner-text{
    padding: 25px 0 65px 0;
}
.installment-banner-form{
    flex-direction: column;
}
.installment-banner-form input{
    outline:none;
}
.installment-form-name,
.installment-form-tel{
    background: transparent;
    border: none;
    font-size: 1.25rem;
    line-height: 130%;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding:0 0 10px 0;
    margin: 0 0 40px 0;
}
.installment-form-name::placeholder,
.installment-form-tel::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}
.white-button{
    background: #FFFFFF;
    border-radius: 5px;
    color: #0967C1;
    border: none;
    padding: 19px 50px;
    max-width:19rem;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}
.ft-500{
    font-weight: 500; 
}
.grid{
    display: grid;
}
.advantages-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:0 40px;
}
.advantage-card-cont{
    padding:54px 25px 54px 25px;
    flex-direction: column;
    text-align: center;
}
.advantage-img{
    /* max-width:6.87rem ; */
    margin: 0 auto 15px auto;
}
.adv-title {
    font-size: 1.25rem;
    line-height: 130%;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.advant-info{
    font-size: 1rem;
    line-height: 130%;
}
/* block4 */
.stages-block{
    margin:50px 0 0 0;
}
.stages-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:0 60px;
}
.stage-card{
    background: rgba(9, 103, 193, 0.05);
    border-radius: 13px;
    position: relative;
}
.stage-card:nth-child(3){
    background: #0967C1;
}
.stage-card:nth-child(3) .stage-card-title{
    color: #FFFFFF;
}
.stage-card:nth-child(3) .stage-card-txt{
    color: #FFFFFF;
}
.stage-card-cont{
    padding: 40px 18px 80px 18px;
    flex-direction: column;
}
.stage-card-img{
    margin: 0 auto 20px auto;
    /* max-width: 7rem; */
}
.stage-card-title{
    font-size: 1rem;
    line-height: 135%;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.stage-card-txt{
    font-size: 1rem;
    line-height: 130%;
}
.adv-card-circle{
    text-align: center;
    border-radius: 50%;
    align-items: center;
}
.white-circle{
    position: absolute;
    top:-25px;
    left:-25px;
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    justify-content: center;
}
.blue-num-circle{
    background: #0967C1;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}
.adv-card-num{
    font-size: 1.25rem;
    line-height: 130%;
    margin: 0 auto;
}
/* block5  */
.about-o-block{
    margin: 30px 0 30px 0;
}
.about-card-item{
    margin: 0 35px 0 0;
    max-width: calc((100% - 70px)/3);
}
.about-card-item:last-child{
    margin:0;
}
.about-card-cont{
    padding: 15px;
}
.about-card-txt{
    font-size: 14px;
    line-height: 130%;
    margin: 0 0 55px 0;
    min-height: 6.75rem;
}
.about-card-item img{
    border-radius: 13px 13px 0 0;
    width: 100%;
}
.about-card-item .card-button {
    padding: 19px 0px;
    width: 100%;
}
/* block6  */
.customer-reviews-h2{
    font-size: 2rem;
    line-height: 135%;
    margin: 0 0 145px 0;
    text-transform: uppercase;
    max-width: 313px;
}
.customer-reviews-slider img{
    padding: 0 30px 0 0;
}
.customer-reviews-slider .rewievs-prev-btn{
    display: block;
    top: -95px;
    position: absolute;
    z-index: 1;
}
.customer-reviews-slider .rewievs-next-btn{
    display: block;
    top: -95px;
    left: 75px;
    position: absolute;
}
.rewievs-prev-btn,
.rewievs-next-btn{
    cursor: pointer;
}


@media (max-width: 1280px){
/* m-block1  */
.limit{
    padding: 0 15px;
}
.service-card-item {
    margin-right: 40px;
    margin-bottom: 40px;
}
.service-card-item:nth-child(2n) {
    margin-right:0 ;
}
.service-card-item{
    max-width: calc((100% - 40px)/2);
}
/* m-block3  */
.installment-banners-block{
    flex-direction: column;
}
.installment-banner {
    width: 100%;
}
.installment-plan-banner {
    max-height: 35vh;
    min-height: unset;
}
.installment-banner-cont {
    padding: 20px 265px 55px 20px;
}
.installment-banner-text p {
    margin: 0 0 20px 0;
}
.advantages-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.installment-blue-banner-cont {
    padding: 20px 300px 20px 20px;
}
.installment-blue-banner .installment-banner-text {
    padding: 25px 0;
}
/* m-block4  */
.stages-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.white-circle {
    left: 15px;
}
/* m-block5  */
.about-card-txt {
    min-height: 8rem;
}
}

@media (max-width:1024px){
.services-slider .slick-dots li button:before,
.work-examples-card-slider .slick-dots li button:before,
.about-cards-slider .slick-dots li button:before,
.customer-reviews-slider .slick-dots li button:before {
    font-size: 10px;
}
.services-slider .slick-dots li.slick-active button:before,
.work-examples-card-slider .slick-dots li.slick-active button:before,
.about-cards-slider .slick-dots li.slick-active button:before,
.customer-reviews-slider .slick-dots li.slick-active button:before{
    color: #0967C1;
}
.work-examples-img-slider .slick-dots li.slick-active button:before {
    color: #FFFFFF;
}
/* m-block2  */
.work-examples-card-slider .work-example-card {
    margin-bottom: 0;
    margin-right: 0;
}
.work-example-card {
    max-width: 100%;
}
/* m-block5  */
.about-card-item {
    margin: 0 40px 40px 0;
    max-width: calc((100% - 40px)/2);
}
/* m-block6  */
.customer-reviews-h2 {
    max-width: unset;
    margin: 0 0 20px 0;
}
}

@media (max-width: 820px){
/* m-block1  */
.service-card-cont {
    padding: 17px 13px 13px 13px;
}
.card-list {
    margin: 0 0 25px 0;
}
.service-card-pr {
    margin: 0 0 15px 0;
}
.service-card-title {
    margin: 0 0 15px 0;
}
.card-button {
    font-size: 0.81rem;
    line-height: 1rem;
}
/* m-block2  */
.work-card-cont {
    padding: 30px 13px 30px 13px;
}
.work-example-txt {
    margin: 0 0 58px 0;
}
/* m-block3  */
.installment-banner-title {
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.installment-banner-text{
    font-size: 0.75rem;
    line-height: 130%;
}
.installment-blue-banner .installment-banner-text {
    padding: 10px 0 25px 0;
}
.installment-form-name, .installment-form-tel {
    font-size: 0.875rem;
    margin: 0 0 25px 0;
}
.white-button {
    padding: 16px 50px;
    font-size: 0.875rem;
    line-height: 1.06rem;
}
/* m-block4  */
.stage-card-cont {
    padding: 40px 18px 55px 18px;
}
/* m-block5  */
.about-card-item .work-card-title {
    font-size: 0.875rem;
    line-height: 1.06rem;
}
.about-card-txt {
    font-size: 0.75rem;
    margin: 0 0 20px 0;
}
/* m-block6  */
.customer-reviews-h2 {
    font-size: 1.5rem;
}
}

@media (max-width: 768px){
/* m-block3  */
.installment-banner-cont {
    padding: 20px 55% 55px 20px;
}
.installment-blue-banner-cont {
    padding: 20px 45% 20px 20px;
}
}

@media (max-width: 540px){
/* m-block1  */
.service-card-item{
    max-width: 100%;
}
.service-card-item:nth-child(1n) {
    margin:0 ;
}
/* m-block2  */
.work-card-cont {
    padding: 15px 17px 15px 17px;
}
.work-info-item:nth-child(1), .work-info-item:nth-child(2) {
    padding-right: 18px;
}
.work-info-item:nth-child(2), .work-info-item:nth-child(3) {
    padding-left: 18px;
}
.work-info-cont .work-card-title {
    font-size: 0.8rem;
    line-height: 0.75rem;
}
.work-cost-item {
    font-size: 1rem;
    line-height: 1rem;
}
.work-info-item:nth-child(1), .work-info-item:nth-child(2) {
    padding-right: 15px;
}
.work-info-item:nth-child(2), .work-info-item:nth-child(3) {
    padding-left: 15px;
}
.work-terms-txt {
    font-size: 0.9rem;
    line-height: 1rem;
}
.work-examples-img-slider .prev-btn {
    max-width: 30px;
}
.work-examples-img-slider .next-btn {
    max-width: 30px;
}
/* m-block3  */
.advantages-grid {
    grid-template-columns: 1fr;
    gap: 15px 0;
}
.installment-plan-banner {
    max-height: unset;
}
.installment-banner-cont {
    padding: 80px 15px 80px 15px;
    margin: 0 auto;
    max-width: 1400px;
}
.installment-blue-banner .installment-banner-text {
    padding: 20px 0;
}
.installment-blue-banner-cont {
    padding: 25px 15px 25px 15px;
    margin: 0 auto;
    max-width: 1400px;
}
.advantage-card-cont {
    padding: 33px 50px 33px 50px;
}
.adv-title {
    margin: 0 0 15px 0;
}
/* m-block4  */
.stages-grid {
    grid-template-columns: 1fr;
    gap: 40px 0;
}
.stage-card-cont {
    padding: 40px 15px 40px 15px;
}
/* m-block5  */
.about-card-item {
    max-width: 100%;
    margin: 0;
}
/* m-block6  */
.customer-reviews-slider img {
    padding: 0;
}
}
@media (max-width: 420px){
/* m-block1  */
.card_title {
    font-size: 0.93rem;
    line-height: 1.125rem;
}
.service-card-title {
    min-height: unset;
}
.card-txt {
    font-size: 0.81rem;
}
.card-list {
    min-height: unset;
}
/* m-block2  */
.work-card-title {
    font-size: 0.87rem;
    line-height: 1.06rem;
}
/* m-block3  */
.white-button {
    padding: 16px 0;
    margin: 0 auto;
    width: 100%;
}
}
@media (max-width: 320px){
.advantage-card-cont {
    padding: 35px 10px;
}
}